<div class="l_content">
    <div class="container px-0">
        <div class="row items-center">
            <div class="col-lg-7 d-none d-lg-block">
                <img src="/images/login-img.svg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5">
                <div class="log-register-block">
                   <div class="text-center mb-4">
                    <a href="#" title="logo" class="header-logo">
                            <img src="/images/login-img.svg" alt="logo">
                        </a>
                   </div>
                    <h2 class="text-center">Register</h2>
                    <p class="text-center">Welcome to EventEase</p>
                    <form id="registerForm" action="/register" method="POST">
                        <div class="form-group">
                            <label for="name" class="form-label">Name</label>
                            <input class="form-control" type="name" name="name" id="name" placeholder="Enter your name" tabindex="1" autofocus>
                            <div class="invalid-feedback">Please enter name.</div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email" tabindex="1" autofocus>
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" tabindex="2">
                                <div class="input-group-text toggle-password" data-password="false">
                                    <span class="password-eye"></span>
                                </div>
                            </div>
                            <div class="invalid-feedback">Password is required.</div>
                        </div>
                        <div class="form-group d-flex justify-content-between flex-wrap">
                            <a href="/login">Already have an account? Login here.</a>
                        </div>
                        <div class="text-start btn-block">
                            <button class="btn btn-soft-primary w-100" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>