<div class="page-title-box">
    <h4 class="page-title">Welcome!</h4>
</div>
<div class="row">
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat">
            <div class="card-body">
                <a class="dashboard-card" href="#">
                    <div class="dashboard-card-icon">
                        <i class="ri-group-line widget-icon"></i>
                    </div>
                    <h2 class="blue-shade">0</h2>
                    <h6 title="Customers">Customers</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-sm-6">
        <div class="card widget-flat">
            <div class="card-body">
                <a class="dashboard-card" href="#">
                    <div class="">
                        <i class="ri-wallet-2-line widget-icon"></i>
                    </div>
                    <h2 class="green-shade">$0</h2>
                    <h6 title="Customers">Revenue</h6>
                </a>
            </div>
        </div>
    </div>
</div>
